---
import type { CollectionEntry } from "astro:content";

import Tags from "../components/Tags.astro";
import Layout from "./Layout.astro";

interface Props {
  postData: CollectionEntry<"posts">["data"];
}

const { postData } = Astro.props;
---

<Layout title={"My Astro Blog"}>
  <h1>{postData.title}</h1>
  <p>Published on:{postData.pubDate.toDateString()}</p>
  <p><em>{postData.description}</em></p>
  <img src={postData.image.url} width="300" alt={postData.image.alt} />

  <Tags tags={postData.tags} />

  <slot />

  <p>Written by {postData.author}</p>
</Layout>
